// variables
@import "../../../node_modules/bootstrap/scss/_variables.scss";
// variables
@import 'imports/_variables';
// mixins
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
// reset
@import "../../../node_modules/bootstrap/scss/_normalize.scss";
// grid
@import "../../../node_modules/bootstrap/scss/_grid.scss";
// reboot
@import "../../../node_modules/bootstrap/scss/_reboot.scss";


/**
* @section DEFAULT
*/
body{
    background-image: url('../../assets/images/bkg-linhas.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 80px;
}
*{font-family: 'Roboto', sans-serif;}
ul{
    list-style: none;
    padding: 0;
}

/**
* @section GERAL
*/
[class*="__wrapper"]{
  @include make-container();
  margin: 0 auto;
}
[class*="__inside"]{
  @include make-row();
}
[class*="col-"]{
  margin-bottom: 20px;
}
[class*="__block"]{
    padding: 20px;
}
section{
  @include clearfix;
}
.btn{
    background: #444;
    border: 0;
    color: #fff;
    cursor: pointer;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

/**
* @section HEADER TITLE
*/
.titlepage__wrapper{
    max-width: 1040px;

    .logo-simulados img{min-width: 250px;}
    .logo-medgrupo img{min-width: 330px;}
}

/**
* @section SECTION WRAPPER
*/
.menu__wrapper,
.simulados__wrapper{
    max-width: 920px;
}

/**
* @section LOGO
*/
header{
    a{
        display: block;
        margin: 0;
        min-height: 60px;
        float: none;
        text-align: center;

        img{
            height: auto;
        }

        &.logo-simulados img{
            margin: 20px 0;
        }


        &.logo-medgrupo img{
            -webkit-blend-mode: multiply;
            blend-mode: multiply;
        }
        @media (min-width: 992px){
            &.logo-medgrupo{
                float: right;
            }
            &.logo-simulados{
                float: left;
            }
        }
    }
}

/**
* @subsection BOTOES ACESSIBILIDADE
*/
.access-buttons button{
    font-weight: bold;
    padding: 0.2em;
    margin: 0 0 0.5em 0;
}


/**
* @subsection LISTA MENU
*/
.listmenu__provas{
    li:first-of-type{
        font-size: 1em;
        &:before{display: none;}
    }
    li{
        height: 1.4em;
        overflow: hidden;
        transition: height 0.4s;

        &.sel{
            height: 4.6em;
            overflow: visible;

            button:before{transform: rotate(90deg);}
        }

        .listmenu__provas--simulados{
            background: transparent;
            border: 0;
            color: $gray-light;
            cursor: pointer;
            display: inline-block;
            font-size: 1em;
            line-height: 1em;
            outline: transparent;
            position: relative;
            vertical-align: middle;


            &:focus{
                border: 0;
            }
            &:before{
                content: '\25BA';
                color: $blue-gray;
                display: inline-block;
                font-size: 0.7em;
                position: relative;
                vertical-align: middle;
            }
        }

        a{
            display: block;
            color: $gray-text;

            margin: 0 0 0 1.8em;
        }
    }
}


/**
* @subsection TITLES
*/
h2{
    margin: 0 0 20px 0;
    text-align: left;
    font-size: 1.8em;
    text-transform: uppercase;
}

/**
* @subsection FILTERS
*/
.filter__register{
    background: $blue-light;
    padding: 15px 10px;
    margin-bottom: 30px;

    form{

        input{
            border: 1px solid $blue;
            width: 100px;
        }
        button{
            @extend .btn;
            margin: 0;
            padding: 0.3em;
        }
        p{
            font-weight: bold;
        }

        *{
            display: inline-block;
            margin-bottom: 0;
            margin-top: 0;
            vertical-align: middle;
        }
    }
}

/**
* @subsection SELECT FILTER
*/
.filter__parameters{
    > [class*="col"]{padding: 0 5px;}
    select{
        background: $gray-light-background;
        border: 1px solid $blue;
        width: 100%;
    }
}

/**
* @subsection FILTER INFO
*/
.simulados__filter{
    @include clearfix;

    a{color: $gray-light;}

    .simulados__filter__summary--share{text-align: left;}
    .simulados__filter__summary--info{text-align: right;}
    [class*="col"]{
        padding: 0 5px;
    }

    .simulados__filter__pagination__inside{
        background: $gray-background;
        padding: 10px 5px;

        > *{margin: 0;}
    }
}


/**
* @subsubsection PAGINATION
*/
.pagination{
    @media (min-width: 768px){
        width: 10.5em;
    }
    padding: 0 5px;
    width: 100%;

    > *{
        display: inline-block;
        vertical-align: middle;
    }

    p, span{margin: 0;}

    input[type="text"]{
        border: 1px solid $blue;
        line-height: 1.2em;
        width: 90px;
    }

    button{
        line-height: 1.2em;
        margin: 0 3px;
        padding: 0;
        width: 40px;

        span{display: none;}
        &:before{
            font-size: 0.8em;
        }

        &.prev:before{
            content: '\25C4';
        }
        &.next:before{
            content: '\25BA';
        }
    }

    li{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 30px;
    }
}
.pagination-buttons{
    a{
        display: inline-block;
        text-decoration: underline;
        margin: 0 5px;

        &:hover{
            text-decoration: none;
        }
    }
}

/**
* @subsubsection ORDERBY
*/
.order{
    @media (min-width: 768px){
        width: 12.5em;
    }

    > * {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
    padding: 0 5px;
    width: 100%;
}
.download-table{
    @media (min-width: 768px){
        float: right;
        text-align: right;
        width: 14.5em;
    }
    a{
        background: url('../../assets/images/ico-export-planilha.png') no-repeat 0 3px transparent;
        padding-left: 20px;
    }
}

/**
* @subsection TABLE
*/
.simulados__table{
    clear: both;
    width: 100%;
}
.simulados__table table{
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-bottom: 30px;
    width: 100%;

    @media (min-width: 940px){
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
    }

    td{
        height: 4em;
    }
    th{
        background: $gray-background;
    }
    td, th{
        padding: 5px 10px;
    }
    td:nth-child(even){
        background: $gray-light-background;
    }
    td:first-child,
    th:first-child{
        border: 1px solid $blue;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
    }
    td:last-child,
    th:last-child{
        border: 1px solid $blue;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
    }
    th:first-child{
        border-top: 1px solid $blue;
    }
    tr:last-child td:first-child{
        border-bottom: 1px solid $blue;
    }
    th:last-child,
    tr:first-child th{
        border-top: 1px solid $blue;
    }
    tr:last-child td{
        border-bottom: 1px solid $blue;
    }
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6){
        width: 25%;
    }

}
table,td,th{
    border-collapse: collapse;
}


// responsive
@import 'imports/_responsive';
// print
@import 'imports/_print';
