// para colunas do formulario
@media (max-device-width: 768px){
    .col-xs-12 {
        flex: 0 0 100%;
    }
    section{
        h2, h3, .form-control, input[type=submit]{font-size: 36px;}
        small, .formrepositorio__msg-erro{
            font-size: 30px;
            line-height: 30px;
            height: 90px;
        }
    }
}
