<!DOCTYPE html >
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" />
        <title>Listagem de provas de simulados</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!--build:css assets/css/styles.min.css -->
        <link rel="stylesheet" href="assets/css/styles.css" />
        <!-- endbuild -->
    </head>
    <body id="body" ng-controller="appController">
        <!-- titulo pagina -->
        <header class="titlepage">
            <div class="titlepage__wrapper">
                <div class="titlepage__inside">
                    <!-- logo simulados -->
                    <div class="titlepage__block col-lg-6 col-xs-12">
                        <a href="/" class="logo-simulados">
                            <img src="assets/images/logo-simulados.png" alt="Logo Simulados" />
                        </a>
                    </div>
                    <!-- logo medgrupo -->
                    <div class="titlepage__block col-lg-6 col-xs-12">
                        <h1>
                            <a href="/" class="logo-medgrupo">
                                <img src="assets/images/logo-medgrupo.png" alt="Logo Medgrupo" />
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
        <!-- menu e filtro -->
        <section class="menu__wrapper">
            <div class="menu__inside">
                <!-- menu -->
                <div class="menu__listmenu col-lg-3 col-xs-12">
                    <div class="menu__listmenu--content">
                        <!-- botoes aumenta fonte -->
                        <div class="access-buttons">
                            <button type="button" class="btn icon-inc" ng-click="iconInc()">A+</button>
                            <button type="button" class="btn icon-dec" ng-click="iconDec()">A-</button>
                            <button type="button" class="btn icon-dec" ng-click="iconFontDefault()">Fonte padrão</button>
                        </div>

                        <nav>
                            <ul class="listmenu__provas">
                                <li><strong>Simulados de 2008</strong></li>
                                <li ng-repeat="item in simulados" ng-click="select($index)" ng-class="{sel: $index == selected}">
                                    <button type="button" class="listmenu__provas--simulados">
                                        Simulado {{ item.simulado }}
                                    </button>
                                    <div class="listmenu__provas--submenu">
                                        <a href="#" ng-click="getSimuladoByTipo(item.simulado,'objetiva')">prova objetiva</a>
                                        <a href="#" ng-click="getSimuladoByTipo(item.simulado,'final')">prova final</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- filtro -->
                <div class="menu__filter col-lg-9 col-xs-12">
                    <div class="menu__filter--content filter">
                        <h2><span class="">Simulado {{ search.simulado }} </span> - <span class="">Prova {{ search.tipo }}</span></h2>
                        <p>
                            Os resultados dos simulado são atualizados diariamente, na medida em que os cartões-resposta e as provas discursivas vão sendo processados.
                        </p>
                        <p>Através dos filtros, você poderá criar rankings personalizados, por <span>Especialidade, <span>Turma</span>(Curso) e <span>Unidade</span>(Cidade).</p>
                        <!-- matricula -->
                        <div class="filter__register">
                            <form ng-submit="search.matricula = matricula; listaProva()">
                                <p>Entre com sua matrícula:</p>
                                <input type="text" ng-model="matricula" />
                                <button type="submit" class="btn">procurar</button>
                                <p class="filter__register-erro"></p>
                            </form>
                        </div>

                        <!-- filtro provas -->
                        <div class="filter__parameters">
                            <p>Filtrar por:</p>
                            <div class="col-lg-4 col-xs-12">
                                <select ng-model="search.especialidade" ng-change="listaProva()">
                                    <option value="">Especialidades - TODAS</option>
                                    <option value="clínica geral">Clínica Geral</option>
                                    <option value="clínica médica">Clínica Médica</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <select ng-model="search.filial" ng-change="listaProva()">
                                    <option value="">Filiais - TODAS</option>
                                    <option value="São Paulo(SP)">São Paulo(SP)</option>
                                    <option value="Salvador(SP)">Salvador(BA)</option>
                                    <option value="Curitiba(PR)">Curitiba(PR)</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <select ng-model="search.turma" ng-change="listaProva()">
                                    <option value="">Turmas - TODAS</option>
                                    <option value="2008 MEDGRUPO CURITIBA - Turma A/2008 CURITIBA">2008 MEDGRUPO CURITIBA - Turma A/2008 CURITIBA</option>
                                    <option value="2008 MEDGRUPO SALVADOR - Turma A/2008 SALVADOR">2008 MEDGRUPO SALVADOR - Turma A/2008 SALVADOR</option>
                                    <option value="2008 MEDGRUPO SÃO PAULO - Turma A/2008 SÃO PAULO">2008 MEDGRUPO SÃO PAULO - Turma A/2008 SÃO PAULO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- listagem de simulados -->
        <section class="simulados__wrapper">
            <div class="simulados__inside">
                <!-- filtro -->
                <div class="simulados__filter col-lg-12">
                    <div class="simulados__filter__summary__inside">
                        <p class="simulados__filter__summary--share col-lg-6 col-xs-12">
                            <a href="javascript:void(0)">imprimir</a> | <a href="javascript:void(0)">enviar para um amigo</a>
                        </p>
                        <p class="simulados__filter__summary--info col-lg-6 col-xs-12">Foram encontrados {{ provas.length }} registros</p>
                    </div>
                    <div class="simulados__filter__pagination__inside">
                        <div class="pagination col-xs-12">
                            <p>
                                <span class="label-pag">1ª ao {{pages.length}}ª</span>
                                <button class="prev" type="button" ng-click="setPage(currentPage-1)" ng-disabled="currentPage == 1 ? true : false"><span><</span></button>
                                <button class="next" type="button" ng-click="setPage(currentPage+1)" ng-disabled="currentPage >= pages.length ? true : false"><span>></span></button>
                            </p>
                        </div>
                        <div class="pagination col-xs-12">
                            <p>ir para:</p>
                            <input type="text" ng-model="currentPage" />
                        </div>
                        <div class="order col-xs-12"><p>mostrar:</p>
                            <select ng-model="sortTable.propName" ng-change="listaProva()">
                                <option value="posicao" selected>posicao</option>
                                <option value="nota">nota</option>
                                <option value="matricula">matrícula</option>
                                <option value="espcialidade">especialidade</option>
                                <option value="turma">turma</option>
                                <option value="filial">filial</option>
                            </select>
                        </div>
                        <div class="download-table col-xs-12"><a href="javascript:void(0)">baixar planilha completa</a></div>
                    </div>
                </div>
                <div class="simulados__filter col-lg-12">
                    <div class="simulados__filter__pagination__inside">
                        <div class="pagination-buttons">
                            <a href="#" ng-repeat="page in pages" ng-click="setPage(page)">Pag {{ page }}</a>
                        </div>
                    </div>
                </div>
                <!-- tabela -->
                <!-- tag temporaria enquanto nao tem formatacao -->
                <div class="simulados__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Posição</th>
                                <th>Nota</th>
                                <th>Matrícula</th>
                                <th>Especialidade</th>
                                <th>Turma</th>
                                <th>Filial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in provas | limitTo : itensPerPage : currentPage * itensPerPage - itensPerPage" >
                                <td>{{ item.posicao }}º</td>
                                <td>{{ item.nota }}</td>
                                <td>{{ item.matricula }}</td>
                                <td>{{ item.especialidade }}</td>
                                <td>{{ item.turma }}</td>
                                <td>{{ item.filial }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!--build:js app/angular.min.js -->
        <script src="../node_modules/angular/angular.min.js"></script>
        <!--endbuild-->
        <!--build:js app/scripts.min.js -->
        <script src="src/app/app.js"></script>
        <!--endbuild-->
    </body>
</html>
